* text eol=lf
*.sh text eol=lf
*.conf text eol=lf
*.prop text eol=lf
*.rule text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.bin binary
hostapd_patched binary
iw.real binary
